

/*body{
	margin-left: 7em; 
	margin-right: 7em;
}
*/
h1, h3, p, img {
  margin: 2% auto;
  text-align: center;
  padding: 1.2em;
}

h1 {
    font-family: Roboto, sans-serif;
    color: #283099;
    font-size: 2em;
}

h3 {
    font-family: Roboto, sans-serif;
    color: #283099;
    font-size: 1.5em;
}

p, ul {
    font-family: Helvetica, sans-serif;
    color: #283099;
    line-height: 1.1em;
    max-width: 60%;
}

hr {
	width: 75%;
	color: #283099;
}

header{
  margin-left: 7em; 
  margin-right: 7em;
}

.links {
    font-family: Helvetica, sans-serif;
    font-size: 0.7em;
    color: #283099;
    max-width: 50%;
    float: right;
    padding: .8em;
}

.button {
  background-color: #283099;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.button:hover {
  background-color: white;
  border: 2px solid #283099;
  color: #283099;
  padding: 15px 32px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.clients {
  display:flex;
  background-color: #DEDEDE;
  margin: 1.5 auto;
}

#aboutimage {
  float: right;
  padding-left: 2em;
  padding-right: 2em;
}

#servicesimage {
  float: left;
  padding-left: 5em;
  padding-right: 5em;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 65%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 28%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  margin-left: 7em; 
  margin-right: 7em;
}

