@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
	margin-left: 300px; 
	margin-right: 300px;
}

h1 {
    font-family: Roboto, sans-serif;
    color: #283099;
    font-size: 2em;
}

h3 {
    font-family: Roboto, sans-serif;
    color: #283099;
    font-size: 1.5em;
}

p, ul {
    font-family: Helvetica, sans-serif;
    color: #283099;
    /*max-width: 50%;*/
    line-height: 1.5em;
}

hr {
	width: 75%;
	color: #283099;
}
img {
	align-items: center;
}

.button {
  background-color: #283099;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.button:hover {
  background-color: white;
  border: 2px solid #283099;
  color: #283099;
  padding: 15px 32px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.centretext {
	text-align: center;
}